@import "main.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


html, body {
  height: 100%;
  background-color: #DEDEDE;
}
body {
  color: #353535;
  text-align: center;

  height: 100%;
  
}

p {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 50px;
}

/*
 * Bootstrap CSS Changes
 */
.container-fluid {
	padding-left:  15%;
	padding-right: 15%;	
}

.row {
	
}

.jumbotron {
	background: none;
}

/* 
Centering from
http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap
*/
.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
 	min-height: 100vh; /* These two lines are counted as one :-)       */	
 	
 	display: flex;
 	align-items: center;
}


/* --------------*/

#name h1 {
    opacity: 0;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;

    font-family: 'Lato', sans-serif;
    
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
    		transition: opacity 2s ease-in;

    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#name h1.load {
    opacity: 1;
}

#name h1:hover {
	box-shadow: 10px 10px 5px #888888;
}

/* ---------------------------------------- */
/* -Media Query Settings Used by Bootstrap- */
/* ---------------------------------------- */
/* http://stackoverflow.com/questions/18424798/twitter-bootstrap-3-how-to-use-media-queries */

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    #name h1{font-size: 6.5vw;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* ---------------------------------- */


#description p {
	opacity: 0;
	font-size: 15px;
	text-align: center;
	margin-bottom: 25px;

	-webkit-transition: opacity 1s ease-in;
	   -moz-transition: opacity 1s ease-in;
	     -o-transition: opacity 1s ease-in;
	    -ms-transition: opacity 1s ease-in;
			transition: opacity 1s ease-in;

	-webkit-transition-delay: 2s;
	   -moz-transition-delay: 2s;
	     -o-transition-delay: 2s;
	    -ms-transition-delay: 2s;
			transition-delay: 2s;
}
#description p.load {
    opacity: 1;
}

#profile-pic img {
	display: block;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	height: 200px;
}

#github_logo{
	height: 40px;
	padding-bottom: 5px;
}

#resume_logo{
	height: 40px;
	padding-bottom: 5px;
}

#flickr_logo{
	height: 40px;
	padding-bottom: 5px;
}

#linkedin_logo{
	height: 40px;
	padding-bottom: 5px;
}

/* 
 * Fade in effect for the contact logos
 */

.col-md-3 div {
	opacity: 0;

	-webkit-transition: opacity 1s ease-in;
	   -moz-transition: opacity 1s ease-in;
	     -o-transition: opacity 1s ease-in;
	    -ms-transition: opacity 1s ease-in;
			transition: opacity 1s ease-in;

	-webkit-transition-delay: 4s;
	   -moz-transition-delay: 4s;
	     -o-transition-delay: 4s;
	    -ms-transition-delay: 4s;
			transition-delay: 4s;
}

.col-md-3 div.load{
	opacity: 1;
}


/* Disabling transitions for click event */
.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/*
/* Background color change for lols 
body {
    -moz-animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
      0%   {background: grey;}
      50%  {background: black;}
      100% {background: white;}
}

*/

/* Hover.css */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


