@import "main.css"
/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
*/


html, body {
  height: 100%;
  background-color: #cfcfcf;
}
body {
  color: #353535;
  text-align: center;
  
}

p {
	color: #353535;
}

/*
 * Bootstrap CSS Changes
 */
.container-fluid {
	padding-left:  15%;
	padding-right: 15%;
}

#name h1 {
    opacity: 0;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
    		transition: opacity 2s ease-in;
}
#name h1.load {
    opacity: 1;
}

#description p {
	opacity: 0;
	font-size: 15px;
	text-align: center;
	margin-bottom: 25px
;
	-webkit-transition: opacity 1s ease-in;
	   -moz-transition: opacity 1s ease-in;
	     -o-transition: opacity 1s ease-in;
	    -ms-transition: opacity 1s ease-in;
			transition: opacity 1s ease-in;

	-webkit-transition-delay: 2s;
	   -moz-transition-delay: 2s;
	     -o-transition-delay: 2s;
	    -ms-transition-delay: 2s;
			transition-delay: 2s;
}
#description p.load {
    opacity: 1;
}

#profile-pic img {
	display: block;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	height: 200px;
}

#github_logo{
	height: 40px;
	padding-bottom: 5px;
}

#resume_logo{
	height: 40px;
	padding-bottom: 5px;
}

#flickr_logo{
	height: 40px;
	padding-bottom: 5px;
}

#linkedin_logo{
	height: 40px;
	padding-bottom: 5px;
}