@import 'main.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html {
	background: #222;

	overflow-y: scroll; 
}

body {
	background: none;
	line-height: 1.5;
	color: #f5f5f5;

	font-family: 'Open Sans Condensed', sans-serif;

}

h1, h2, h3, h4. h5, h6 {
	margin-top: 0;
}

p {
	margin-bottom: 1rem;
}

.navbar-brand, .navbar-nav>li>a {
	color: #f5f5f5;
	font-weight: bold;
}

.navbar-brand:hover, .navbar-nav>li>a:hover {
	color: #f5f5f5;
	font-weight: bold;
	background: none;
}

.navbar-toggle {
	background: #111;
}

.navbar-toggle .icon-bar {
	background: #f5f5f5;
}

.container .jumbotron, .container-fluid .jumbotron {
	padding-left: 0;
	padding-right: 0;
}

.jumbotron {
	background: none;

	margin-top: 75px;
	margin-bottom: 75px;
}

.jumbotron h1 {
	font-size: 120px;
}

@media {max-width: 992px} {
	.jumbotron h1 {
		font-size: 72px;
	}
}

@media {max-width: 768px} {
	.jumbotron h1 {
		font-size: 40px;
	}

	.jumbotron .lead {
		font-size: 20px; 
	}
}