@import "main.css"
/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
*/


html, body {
  height: 100%;
  background-color: #cfcfcf;
}
body {
  color: #353535;
  text-align: center;
  
}

#name h1 {
    opacity: 0;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
    		transition: opacity 2s ease-in;
}
#name h1.load {
    opacity: 1;
}

#description p {
	opacity: 0;
	font-size: 15px;
	text-align: center;
	margin-bottom: 25px
;
	-webkit-transition: opacity 1s ease-in;
	   -moz-transition: opacity 1s ease-in;
	     -o-transition: opacity 1s ease-in;
	    -ms-transition: opacity 1s ease-in;
			transition: opacity 1s ease-in;

	-webkit-transition-delay: 2s;
	   -moz-transition-delay: 2s;
	     -o-transition-delay: 2s;
	    -ms-transition-delay: 2s;
			transition-delay: 2s;
}
#description p.load {
    opacity: 1;
}

#profile-pic img {
	display: block;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	height: 200px;
}


#contact_info {
		color: white;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#github{
	padding-left: 26.5%;
	float: left;
}
#github_logo{
	padding-left: 5%;
	width: 40px;
	height: 40px;
	padding-bottom: 5px;
}


#resume{
	padding-left: 10%;
	float: left;
}
#acrobat_logo{
	padding-left: 10%;
	width: 40px;
	height: 40px;
	padding-bottom: 5px;
}


#email{
	padding-left: 10%;
	float:left;
}
#email_logo{
	padding-left: 0%;
	width: 40px;
	height: 40px;
	padding-bottom: 5px;
}


#linkedin{
	padding-left: 10%;
	float: left;
}
#linkedin_logo{
	padding-left: 10%;
	width: 40px;
	height: 40px;
	padding-bottom: 5px;
}